#calculator{
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
 margin-left: 40%;
 background-color: blueviolet;
}
#display{
  margin: 10px;
  font-size: 25px;
  width: 85%;
  background-color:aqua ;
  color: black;

}
.solar{
  margin-left: 7px;
  width: 40%;
  height: 20px;

  background-color: rgb(79, 30, 30);
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}
.button-container :hover{
  background-color:red;
  color:blue;
}
.button{
  width: 45px;
  height: 45px;
  margin: 4px;
  background-color: gray;
  
}
