* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #cde6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  width: 360px;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  color: white;
}

.brand {
  text-align: center;
  margin-bottom: 10px;
}

.brand .dexin { 
  font-weight: bold; 
  color: #00ffb3; 
}

.brand .bst { 
  margin-left: 5px; 
  color: #ffcc00; 
}

.brand .model { 
  display: block; 
  font-size: 12px; 
  color: lightgreen; 
}

.brand .type { 
  font-size: 10px; 
  color: darkblue; 
}
.solar{
  width: 40%;
  height: 40px;
  background-color: rgb(66, 51, 51);
  align-items: center;
  padding: 6px;margin-bottom: 10px;
}

.display { width: 96%;
  height: 80px;
  background-color: #b7e6b7;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.top-row {
  justify-content: space-between;
  margin-top: 10px;
}
.key-replay{
  background-color: darkgray; font-size: 16px; padding: 15px 25px; border: none;transition: 0.3s;
  border-radius: 100px; width: 70px; height: 70px; display: flex; justify-content: center; align-items: center;

}
.key-shift, .key-on{
  margin-top: 3px; font-size: 7px;border-radius: 30px; background-color: darkgray;
}
.key-alpha, .key-mode{
  margin-top: 3px; font-size: 7px;border-radius: 30px; background-color: darkgray;
}
.row-gap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.left-group, .right-group{
  display: flex; gap: 12px;
}
.row-gap button{
  flex: none; width: 60px; height: 38px; font-size: 12px; background-color: black; color: white; 
  border-radius: 6px; border: none;
}
button {
  flex: 1;
  height: 45px;
  border: none;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}
.other{
  height: 38px;
  font-size: 12px;
}
.num{
  background-color: #999;
}

button:hover {
  background-color: rgb(48, 9, 13);
}

button.ac {
  background-color: pink;
}
button.ac:hover{
  background-color: #00ffb3;
}

button.equals {
  background-color: #00c896;
}
button.equals:hover{
  background-color: green;
}